<launch>
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>

    <node pkg="com760cw1_b00xxxxxx" type="set_background.py" 
          name="set_background_node" output="screen" />

    <node pkg="com760cw1_b00xxxxxx" type="follower_a.py"
          name="follower_a_node" output="screen" />

    <node pkg="com760cw1_b00xxxxxx" type="follower_b.py"
          name="follower_b_node" output="screen" />

    <node pkg="com760cw1_b00xxxxxx" type="leader.py"
          name="leader_node" output="screen" />
</launch>
